<ul>
  <% for(var i=0; i<socials.length; i++) { var social = socials[i]; %>
  <li><a href="<%= social.link %>" target="_blank"><img src="/assets/social/<%= social.type %>.png" /></a></li>
  <% } %>
</ul>