body {
  background: image-url('themes/turntable/pattern-white-diamond.jpg') repeat;
  font-family: 'Futura Condensed', 'Futura', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #1d1d1d;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 0.3em;
}
h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120px;
  border-bottom: 8px solid #327dee;
}
h2 { font-size: 48px; }
h3 {
  font-size: 26px;
  line-height: 1.4;
  color: #327dee;
  border-bottom: 3px solid #327dee;
}
h4 { font-size: 22px; }
h6 { font-size: 13px; }

a {
  cursor: pointer;
  color: #1d1d1d;
  text-decoration: none;
  &:hover {
    color: #327dee;
    text-decoration: none;
  }
}

p { font-size: 14px; }
