// # Lip
.lip {
  background-color: #244679;
}


// # Corner top-right
.corner-tr {
  width: 96px;
  top: 24px;
  right: 24px;
  .controls {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
  }
}

// # Buttons
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  color: #f4f4f4;
  background-color: #327dee;
  padding: 10px 20px;
  border: 0;
  &:hover {
    color: #fdfdfd;
    background-color: #111111;
  }
}
.btn-danger {
  background-color: #ee3232;
}

// # Nav
.nav {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
  li {
    margin: 5px;
    text-align: center;
    display: inline-block;
  }
  a {
    color: #000000;
    padding: 0 12px;
    background-color: #fdfdfd;
    vertical-align: middle;
  }
  li > a:hover, li.active > a {
    color: #f4f4f4;
    background-color: #327dee;
  }
}
.symmetry .nav {
  float: left;
}

// # Dividers
.divider-earbuds,
.divider-dots {
  margin: 0 auto 20px auto;
}
.divider-dots {
  text-align: center;
  > i {
    display: inline-block;
    margin: 0 4px;
    @include circle(3px, #c7c7c7);
  }
}

// # Playback controls
.controls {
  width: 240px;
  height: 240px;
  margin: 5% auto 0 auto;
  cursor: pointer;
  position: relative;
  > * { @include absolute(0, 0, 0, 0); }
}

// # Main content
.content {
  width: 575px;
  height: 575px;
  border: 2px solid #000;
  margin: 0 auto;
}

// # Gallery items
.gallery-item a {
  border: 6px solid rgba(255, 255, 255, 0.65);
  &:hover {
    border-color: rgba(50, 125, 238, 0.65);
    @include box-shadow(rgba(0, 0, 0, 0.25) 2px 2px 27px);
  }
  img { vertical-align: middle; }
}

// # Media
.media {
  font-family: Arial, sans-serif;
}

// # Calendar
.calendar {
  margin: 0 auto 20px auto;
  th {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
  td {
    padding: 8px;
    a {
      font-size: 24px;
      line-height: 20px;
      display: inline-block;
      text-align: center;
      width: 34px;
      height: 18px;
      padding: 10px 0;
      color: #f4f4f4;
      background-color: #232323;
      @include border-radius(3px);
    }
    &.active a,
    a:hover {
      background-color: #327dee;
    }
  }
}
