/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./
*/

@import 'compass/css3';

$gold: #dbd69d;

body {
  background-color: #16161b;
  background-image: image-url('prelaunch/background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  font-family: 'Myriad Pro', Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  color: #f6f6f6;
  line-height: 1.4;
}
input[type='text'],
button {
  font-size: 18px;
  color: #f6f6f6;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #181818;
  @include border-radius(8px);
  background-color: #fefefe;
  @include background-image(linear-gradient(#545459, #222225));
  @include box-shadow(rgba(0,0,0,0.1) 1px 1px 3px 0, rgba(255,255,255,0.4) 0 0 4px inset);
}
button {
  cursor: pointer;
  @include background-image(linear-gradient(#606060, #323232));
}

.hidden {
  display: none;
}
.container {
  width: 650px;
  margin: 10% auto 0 auto;
  text-align: center;
}
.splash-logo {
  width: 468px;
  height: 151px;
  background-image: image-url('prelaunch/logo.png');
  margin: 0 auto;
}
.splash-subtitle {
  font-size: 24px;
  color: $gold;
  em {
    color: #f6f6f6;
  }
}
.splash-action input[type='text'] {
  width: 50%;
}
.results {
  color: green;
}
.results-error {
  color: red;
}
