<h1>Choose your domain name</h1>

<p>Use the form below to lock-in your sweet domain name.</p>

<form class='form-horizontal' data-form>

  <div class='control-group'>
    <label class='control-label'>Domain name</label>
    <div class='controls'>
      <input type='text' name='domain_name' placeholder='hiphopper.com' />
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <button type='submit' class='btn'>Search</button>
    </div>
  </div>

</form>

<ul data-domains></ul>
