body, html { height: 100%; }
body { overflow: hidden; }

.transparent { opacity: 0; }

// Little things
.subtitle {
  font-size: 10px;
}
.highlight {
  background-color: $master-color;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: $master-color !important;
  margin: 10px 0;
}
.loader {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

//=== Background
// Responsive background image / whateva
.background {
  position: static;
  z-index: 1;
}

//=== Abs Mid Mid
// Align the top left corner to the absolute center and figure out negative margins on your own
.abs-mid-mid {
  position: absolute;
  top: 50%;
  left: 50%;
}

//=== Abs Bot Right
// For when it's gotta be on the bottom right
.abs-bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

//=== Marquee
// Our main man, front and center with rounded top corners
.marquee {
  background: rgba(0, 0, 0, 0.8);
  @include box-shadow(0 0 10px #000);
  color: #f4f4f4;
  @include border-radius(20px 20px 0 0);
  text-align: center;
  padding: 10% 10px;
  min-width: 300px;
  line-height: normal;
  h1 { margin: 0; }
}

//=== Content Box
// A gentle content box
.content-box {
  @include box-shadow(0 0 6px rgba(206, 206, 206, 0.9));
  border: 1px solid #ebebeb;
  padding: 20px;
  background: rgba(244, 244, 244, 0.95);
}

//=== Scrollpane
// Turn a div into a scrollable box
.scrollpane {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

//=== News Post
// A news post with a date, title, and body
.news-post {
  .date, .title, .body {
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {

  .marquee {
    padding: 4% 10px;
  }

}
