<%= link_to 'Back to Dashboard', user_path %>

<h1>Band Dashboard Page: <%= @band_site.slug %></h1>

<p><%= link_to 'View Site', view_band_site_path(@band_site) %></p>

<p><%= link_to 'Launch Site Editor', edit_band_site_path(@band_site) %></p>