@import 'compass/css3';

@import 'lib/mixins';

//
// Bootstrap override / extension
//

.remove {
  z-index: 2010;
  position: absolute;
  top: 1px;
  right: -7px;
  color: #fff;
  cursor: pointer;
  line-height: 13px;
  width: 8px;
  height: 11px;
  padding: 1px 4px 4px 4px;
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  @include border-radius(10px);
  @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
  @include gradient(#ee5f5b, #bd362f);
}

//
// Sortable
//

.sortable,
.sortable li a, {
  cursor: move;
}
.sortable-exclude {
  cursor: default;
}
.progress-inner {
  background-color: $master-color;
}

//
// Editable
//

.editable {
  outline: none;
}
.editable-default {
  color: #999;
  font-style: italic;
}
.editable-active {
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px 0);
  outline: 1px solid rgba(100, 100, 100, 0.3);
}
textarea.editable-hover {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}
[contenteditable].editable-hover,
.editable-hover {
  outline: 1px dashed rgba(100, 100, 100, 0.5);
}

//
// Redactor styles
//

.redactor_box {
  border: none;
  margin-top: -38px;
}
.redactor_box, .redactor_box textarea {
  background-color: transparent;
}
.redactor_editor, .redactor_editor:focus {
  padding: 5px 0 0 0 !important;
  background-color: transparent !important;
}
.scrollpane > .editable > .redactor_box {
  margin-top: 0;
}
