@import 'compass/css3';

@import 'modules/mixins';

// # Override/extend
.gallery-item {
  position: relative;
}

// # Editor-specific
.remove {
  cursor: pointer;
  color: #000000;
  background-color: #fdfdfd;
  padding: 5px;
  line-height: 8px;
  @include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px 1px);
  @include absolute($top: -5px, $right: -5px);
  @include border-radius(50%);
  &:hover {
    color: #fdfdfd;
    background-color: #ee3232;
  }
}

// # Sortable
.sortable,
.sortable li a, {
  cursor: move;
}
.sortable-exclude {
  cursor: default;
}
.progress-inner {
  background-color: #cfcfcf;
}

// # Editable
.editable {
  outline: none;
}
.editable-default {
  color: #999;
  font-style: italic;
}
.editable-active {
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px 0);
  outline: 1px solid rgba(100, 100, 100, 0.3);
}
textarea.editable-hover {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}
[contenteditable].editable-hover,
.editable-hover {
  outline: 1px dashed rgba(100, 100, 100, 0.5);
}

// # Redactor
.redactor_box {
  border: none;
  margin-top: -38px;
}
.redactor_box, .redactor_box textarea {
  background-color: transparent;
}
.redactor_editor, .redactor_editor:focus {
  padding: 5px 0 0 0 !important;
  background-color: transparent !important;
}
.scrollpane > .editable > .redactor_box {
  margin-top: 0;
}
