#music-page .content {
  .featured {
    position: relative;
    width: 66%;
  }
  .featured-details {
    width: 66%;
    h4 {
      margin-bottom: 20px;
    }
    td {
      padding: 10px 20px;
      vertical-align: middle;
    }
  }
  .featured-details-left {
    li { margin-bottom: 10px; }
  }
  .featured-details-divider {
    padding-top: 5%;
  }
  .featured-details-right {
    li { margin-bottom: 15px; }
  }
  .icon-volume-on { display: none; }
  .active .icon-volume-on { display: inline-block; }
}

#photos-page .content {
  text-align: center;

  .gallery-cluster {
    margin-bottom: 40px;
    img { height: 180px; }
  }
}

#videos-page .content {
  .gallery-row {
    margin-bottom: 20px;
  }
  img { width: 100%; }
  .thumbnail {
    margin-bottom: 10px;
    a { margin-bottom: 10px; }
  }
  .thumbnail-details {
    position: relative;
    text-align: center;
  }
}

#contact-page {
  .form-inline {
    margin-bottom: 20px;
  }
}

#column-right {
  .thumbnail {
    max-width: 128px;
    max-height: 128px;
    float: right;
  }
}
