<!DOCTYPE html>
<html>
  <head>
    <title>Amplifyre Prelaunch</title>
    <%= stylesheet_link_tag 'prelaunch', :media => 'all' %>
    <%= javascript_include_tag 'prelaunch' %>
  </head>
  <body>

    <div class='container'>
      <div class='logo'></div>
      <form data-prelaunch>
        <input type='text' name='email' />
        <button type='submit'>Subscribe</button>
      </form>
    </div>

  </body>
</html>
