<!DOCTYPE html>
<html>
  <head>
    <title>Amplifyre Prelaunch</title>
    <%= stylesheet_link_tag 'prelaunch/index', :media => 'all' %>
    <%= javascript_include_tag 'prelaunch/index' %>
  </head>
  <body>

    <div class='container'>
      <div class='splash-logo'></div>
      <div class='splash-subtitle'>Create your band's Internet presence in <em>minutes</em>.</div>
      <div class='splash-body'>
        <p>Get a quality site and a domain name without worrying about the technical extras, and make it yours with custom graphics and content.</p>
        <p>Update tour info, release songs/albums, interact with fans, all while picking up press from the Amplifyre community. Subscribe now for your spot in line!</p>
      </div>
      <div class='splash-action'>
        <form data-prelaunch>
          <input type='text' name='email' />
          <button type='submit'>Subscribe</button>
        </form>
        <div class='results' data-results></div>
      </div>
    </div>

  </body>
</html>
