<!DOCTYPE html>
<html>
  <head>
    <title>Amplifyre Prelaunch</title>
    <%= stylesheet_link_tag 'prelaunch/index', :media => 'all' %>
    <%= javascript_include_tag 'prelaunch/index' %>
  </head>
  <body>

    <div class='container'>
      <div class='splash-logo'></div>
      <div class='splash-subtitle block'>Create your band's Internet presence in <em>minutes</em>.</div>
      <div class='splash-body'>
        <p>Get a quality site and a domain name without worrying about the technical extras, and make it yours with custom graphics and content.</p>
        <p>Update tour info, release songs/albums, interact with fans, all while picking up press from the Amplifyre community. Subscribe now for your spot in line!</p>
      </div>
      <div class='splash-action'>
        <form class='block' data-prelaunch>
          <input type='text' name='email' />
          <button type='submit'>Subscribe</button>
        </form>
        <div class='loader' data-loader></div>
        <div class='results' data-results></div>
      </div>
      <div class='splash-subaction'>
        <p>Already have an account? <a href='/users/sign_in'>Sign in</a>.</p>
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251718-1']);
      _gaq.push(['_setDomainName', 'amplifyre.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
