body, html { height: 100%; }
body { overflow: hidden; }

.transparent { opacity: 0; }

// Little things
.subtitle {
  font-size: 10px;
}
.highlight {
  background-color: $master-color;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: $master-color !important;
  margin: 10px 0;
}
.loader {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

//=== Mirage
// Make multiple layers move so it looks 3d
.mirage {
  position: relative;
  overflow: hidden;
  .mirage-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    max-width: none;
  }
}

//=== Background
// Responsive background image / whateva
.background {
  position: static;
  z-index: 1;
}

//=== Abs Mid Mid
// Align the top left corner to the absolute center and figure out negative margins on your own
.abs-mid-mid {
  position: absolute;
  top: 50%;
  left: 50%;
}

//=== Abs Bot Right
// For when it's gotta be on the bottom right
.abs-bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

//=== Symmetry
// A 3-div hack for centering block elements without a specific width
.symmetry {
  width: 100%;
  position: absolute;
}
.symmetry-float {
  float: left;
  position: relative;
  left: 50%;
}
.symmetry-inner {
  float: left;
  position: relative;
  left: -50%;
}

//=== Black Banner
// Slim little black banner with centered text and rounded top corners
.black-banner {
  background: rgba(0,0,0,0.8);
  border-bottom: 2px solid $master-color;
  @include box-shadow(0 0 10px #000);
  @include border-radius(20px 20px 0 0);
  text-align: center;
  padding: 10% 10px;
  color: #fff;
  min-width: 300px;
  line-height: normal;
  h1 { margin: 0; }
}

//=== White Box
// A gentle white box
.white-box {
  @include box-shadow(0 0 6px rgba(206, 206, 206, 0.9));
  border: 1px solid #ebebeb;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
}

//=== Scrollpane
// Turn a div into a scrollable box
.scrollpane {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

//=== News Post
// A news post with a date, title, and body
.news-post {
  .date, .title, .body {
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {

  .black-banner {
    padding: 4% 10px;
  }

}
