body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.45em;
  color: #000;
  background-color: #000;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 6px 0;
}
h1 {
  font-size: 40px;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a.active {
  color: #06bcff;
}
a img {
  border: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
input[type='text'],
select {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  width: 100%;
  font-size: 15px;
  padding: 4px;
  border: 1px solid #DDD;
  outline: none;
}
input[type='submit'],
button {
  font-size: 15px;
  padding: 4px;
  outline: none;
}
textarea {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  width: 100%;
  height: 120px;
  font-size: 15px;
  padding: 4px;
  border: 1px solid #DDD;
  outline: none;
}
button {
  font-size: 14px;
  padding: 4px;
}
td {
  vertical-align: top;
}
p {
  margin: 0 0 15px 0;
}

.clearfix { @include clearfix; }
.left { float: left; }
.right { float: right; }
.hidden { display: none; }
.invisible { opacity: 0; }

// Little things
.subtitle {
  font-size: 10px;
}
.highlight {
  background-color: #06bcff;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: #06bcff !important;
  margin: 10px 0;
}
.loader {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

//=== Container
// Plain old relatively-positioned container
.container {
  position: relative;
  margin: 0 auto;
}

//=== Abs Mid Mid
// Align the top left corner to the absolute center and figure out negative margins on your own
.abs-mid-mid {
  position: absolute;
  top: 50%;
  left: 50%;
}

//=== Abs Bot Right
// For when it's gotta be on the bottom right
.abs-bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

//=== Abs Right
// For when it's gotta be on the right
.abs-right {
  position: absolute;
  top: 0;
  right: 0;
}

//=== Symmetry
// A 3-div hack for centering block elements without a specific width
.symmetry {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.symmetry-float {
  float: left;
  position: relative;
  left: 50%;
}
.symmetry-inner {
  float: left;
  position: relative;
  left: -50%;
}

//=== Horizontal List
// Float-left list items
.horizontal-list {
  @include clearfix;

  > li {
    margin: 0 5px;
    list-style: none;
    float: left;
    position: relative;
  }
}

//=== Dropdown
// Dropdown menus
.dropdown {
  position: relative;
  z-index: 10;

  .dropdown-toggle {
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    list-style: none;
  }
}

//=== Black Bar
// A nice black horizontal bar that stretches 100%
.black-bar {
  font-family: 'Oswald', Arial, serif;
  @include background-image(linear-gradient(#000, #1f1f1f));
  @include box-shadow(0 0 10px #000);
}

//=== Black Banner
// Slim little black banner with centered text and rounded top corners
.black-banner {
  background: rgba(0,0,0,0.8);
  border-bottom: 2px solid #06bcff;
  @include box-shadow(0 0 10px #000);
  @include border-radius(20px 20px 0 0);
  text-align: center;
  padding: 20px;
  color: #fff;
  min-width: 300px;
  line-height: normal;
  h1 { text-transform: uppercase; }
}

//=== White Box
// A gentle white box
.white-box {
  @include box-shadow(0 0 6px rgba(206, 206, 206, 0.9));
  border: 1px solid #ebebeb;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
}

//=== Scrollpane
// Turn a div into a scrollable box
.scrollpane {
  max-height: 300px;
  overflow-y: auto;
  padding: 2px;
}

//=== Thumbs
// Images inside of links inside of .thumbs have 4px borders with a hover state
.thumbs a img {
  border: 4px solid #000;
}
.thumbs a:hover img {
  border: 4px solid #06bcff;
}

//=== Music Album
.album {
  float: left;
  width: 220px;
  margin: 0 20px 20px 0;

  .album-cover {
    width: 150px;
    margin: 0 auto 20px auto;
  }
  .album-tracks {
    background: rgba(0,0,0,0.2);
  }
  .album-track {
    padding: 4px;
    list-style: none;
    position: relative;
    color: #000;
    font-style: italic;
    cursor: pointer;
  }
  .album-track:hover {
    background: rgba(255,255,255,0.4);
  }
}

//=== News Post
// A news post with a date, title, and body
.news-post {
  .date, .title, .body {
    margin-bottom: 6px;
  }
}

//=== Concert
// A concert post with a time, date, and venue on the left, and thumbnail image on the right
.concert {
  @include clearfix;
  border-top: 2px solid #06bcff;
  position: relative;
  padding-top: 4px;
  margin-top: 10px;
}
.concert-left {
  float: left;
  width: 450px;

  .time {
    margin-bottom: 4px;
    font-style: italic;
  }
  .date {
    font-size: 36px;
    font-weight: bold;
    font-family: Impact, 'Arial Black', Arial, sans-serif;
    line-height: normal;
  }
  .venue {
    margin-bottom: 4px;
    font-weight: bold;
  }
}
.concert-right {
  float: right;
  width: 88px;
}
