.controls-playback {
  width: 209px;
  height: 250px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -104px;
  cursor: pointer;
  z-index: 2;
}
.controls-play {
  width: 209px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -104px;
  background-image: image-url('themes/press-play/controls-play.png');
}
.controls-pause {
  width: 138px;
  height: 245px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  background-image: image-url('themes/press-play/controls-pause.png');
}
.controls-scanner {
  width: 833px;
  height: 250px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -416px;
  cursor: pointer;
  z-index: 1;
}
.controls-prev {
  width: 282px;
  height: 248px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: image-url('themes/press-play/controls-prev.png');
}
.controls-next {
  width: 282px;
  height: 248px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-image: image-url('themes/press-play/controls-next.png');
}
