.pp-playback {
  width: 209px;
  height: 250px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -104px;
  cursor: pointer;
  z-index: 2;
}
.pp-play {
  width: 209px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -104px;
}
.pp-pause {
  width: 142px;
  height: 262px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -71px;
}
.pp-scanner {
  width: 833px;
  height: 250px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -416px;
  cursor: pointer;
  z-index: 1;
}
.pp-prev {
  width: 282px;
  height: 248px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.pp-next {
  width: 282px;
  height: 248px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
