//=== Photos Page
.page-photos {
  .horizontal-list {
    li {
      width: 88px;
      height: 88px;
      margin: 0 14px 0 0;
      padding: 0;
      overflow: hidden;
    }
    a {
      width: 88px;
      height: 88px;
      display: block;
    }
  }
}

//=== Music Page
.page-listen {}

//=== Contact Page
.page-contact {
  table {
    width: 500px;
    margin: 0 auto;  
  }
  .loader {
    display: none;
  }
  .result {
    display: none;
    margin-top: 20px;
  }
}
