// Background
.background-active {
  position: absolute;
  top: 50%;
  left: 50%;
}
.background-inactive {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.container {
  position: relative;
  z-index: 4;
  height: 100%;
}
.nav-bar {
  font-family: 'Oswald', arial, serif;
  width: 100%;
  height: 40px;
  @include background-image(linear-gradient(#000, #1f1f1f));
  @include box-shadow(0 0 10px #000);
  z-index: 2;
  position: relative;
  display: block;

  #navigation {
    .nav-bar-set {
      float: left;
      position: relative;
      left: -50%;
    }
    .nav-bar-set > li {
      margin: 0 5px;
      list-style: none;
      float: left;
      padding: 10px;
      border-bottom: 2px solid #06bcff;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
    }
  }
  #social-media {
    position: absolute;
    top: 8px;
    right: 5px;
    ul {
      width: auto;
      margin: 0;
    }
    li {
      padding: 0;
      border: none;
    }
  }
}
.black-banner {
  background: rgba(0,0,0,0.8);
  border-bottom: 2px solid #06bcff;
  @include box-shadow(0 0 10px #000);
  @include border-radius(20px 20px 0 0);
  text-align: center;
  padding: 20px;
  color: #fff;
  float: left;
  position: relative;
  left: -50%;
  min-width: 300px;
  line-height: normal;
}
.black-banner h1 {
  text-transform: uppercase;
}
#ticker {
  font-size: 10px;
}
