.pp-template {
  width: 100%;
  height: 100%;
}

.foreground {
  position: relative;
  z-index: 3;
  height: 100%;
}

.page {
  height: 65%;
  overflow: hidden;
}
.page-container {
  width: 800px;
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -400px;
}
.page-container.content-box {
  margin-left: -420px;
}
.fat-container {
  position: relative;
}

.navbar {
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 2;

  .navbar-inner {
    padding: 0;
    @include border-radius(0);
    border: none;
    border-bottom: 1px solid $master-color;
  }
  .nav {
    margin-right: 0;
  }
}

.pp-bottom-marquee {
  bottom: 0;
}
