.pp {
  .container {
    z-index: 4;
    height: 100%;
  }
  .page-container {
    width: 800px;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -420px;
  }
}

.pp-background {
  .z-raise {
    z-index: 3;
  }
}

.pp-top-bar {
  position: relative;
  z-index: 2;

  .horizontal-list {
    @extend .symmetry-inner;

    li {
      border-bottom: 2px solid #06bcff;
      text-transform: uppercase;
    }
  }

  .abs-right {
    top: 8px;
    right: 5px;
  }
}
