.pp-color-light {
  .navbar-inner {
  }
  .album-flap {
    background: rgba(244, 244, 244, 0.8);
    color: #1e1e1e;
  }
  .marquee {
    background: rgba(244, 244, 244, 0.8);
    @include box-shadow(0 0 10px #f4f4f4);
    color: #1e1e1e;
  }
}
.pp-color-dark {
  .navbar-inner {
    @include background-image(linear-gradient(#222222, #111111));
  }
  .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover { color: #ffffff; }
  }
  .album-flap {
    background: rgba(0, 0, 0, 0.8);
    color: #fafafa;
  }
  .marquee {
    background: rgba(0, 0, 0, 0.8);
    @include box-shadow(0 0 10px #000);
    color: #f4f4f4;
  }
}
.pp-color-earth {
  .navbar-inner {
    @include background-image(linear-gradient(#4a463a, #3a372d));
    border-bottom: 1px solid #906e3a;
  }
  .nav > li > a {
    color: #f6c878;
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
    &:hover { color: #fff; }
  }
  .album-flap {
    background: rgba(244, 244, 244, 0.8);
    color: #1e1e1e;
  }
  .marquee {
    @include border-radius(0);
    @include background-image(linear-gradient(#4a463a, #3a372d));
    @include box-shadow(0 0 10px #000);
    color: #f6c878;
  }
}

.pp-style-earth {
  font-family: 'Crimson Text', Arial;
  text-transform: uppercase;
  // font-family: 'Hoefler Text', 'Crimson Text', Times, serif;
}
