$navbar-height: 40px;
$navbar-outer-height: 60px; // (40px + 20px)
$bottom-banner-height: 114px;
$bottom-banner-offset-height: 134px;

$bringtheloot-blue: #06bcff;
$steadysun-orange: rgba(128, 125, 75, 0.8);

$master-color: $steadysun-orange;
