// # Mirage
.mirage {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .mirage-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    max-width: none;
  }
}

// # Gallery Cluster
.gallery-cluster {
  text-align: center;
}
.gallery-item {
  margin: 10px;
  &, a { display: inline-block; }
}

// # Media
.media {
  @include clearfix;
  &:last-child { margin-bottom: 20px; }
  .media-content {
    float: left;
    margin-bottom: 20px;
  }
  .media-actions {
    float: right;
  }
}

// # Lip
.lip {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}

// # Dropdown
.dropdown {
  position: relative;
  z-index: 10;
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    list-style: none;
  }
}
