.mirage {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .mirage-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    max-width: none;
  }
}

.gallery-cluster {
  text-align: center;
}
.gallery-item {
  margin: 10px;
  &, a { display: inline-block; }
}

.lip {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  z-index: 10;
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    list-style: none;
  }
}
