// # Mirage
.mirage {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .mirage-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    max-width: none;
  }
}

// # Gallery Cluster
.gallery-cluster {
  text-align: center;
}
.gallery-item {
  margin: 10px;
  &, a { display: inline-block; }
}

// # Media
.media {
  @include clearfix;
  &:last-child { margin-bottom: 20px; }
  .media-content {
    float: left;
    margin-bottom: 20px;
  }
  .media-actions {
    float: right;
  }
}

// # Lip
.lip {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}

// # Dropdown
.dropdown {
  position: relative;
  z-index: 10;
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    list-style: none;
  }
}

// # Abbreviated Calendar
.abbr-calendar {
  margin: 0 auto 20px auto;
  th {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
  td {
    padding: 8px;
    a {
      font-size: 24px;
      line-height: 20px;
      display: inline-block;
      text-align: center;
      width: 34px;
      height: 18px;
      padding: 10px 0;
      color: #f4f4f4;
      background-color: #232323;
      @include border-radius(3px);
    }
    &.active a,
    a:hover {
      background-color: #327dee;
    }
  }
}
