@mixin icon($url, $width: 14px, $height: 14px) {
  display: inline-block;
  width: $width;
  height: $height;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: $height;
  vertical-align: middle;
  background-image: image-url($url);
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin icon-medium {
  margin-top: -4px;
  margin-right: 5px;
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin gradient($top, $bottom) {
  background-color: $bottom;
  @include background-image(filter-gradient($top, $bottom));
  @include background-image(linear-gradient($top, $bottom));
}

@mixin svg-stretch($url) {
  background: image-url($url) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

@mixin position($position: relative, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  @include position(absolute, $top, $right, $bottom, $left);
}
