.clearfix { @include clearfix; }
.pull-left { float: left; }
.pull-right { float: right; }

// # Text align
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// # Corners and edges
// Absolute alignment.
.corner-tr { @include absolute($top: 0, $right: 0); }
.edge-r { @include absolute($top: 0); }

// # Symmetry
// Variable-width block center alignment.
.symmetry {
  width: 100%;
  @include clearfix;
}
.symmetry-float {
  float: left;
  position: relative;
  left: 50%;
}
.symmetry-inner {
  float: left;
  position: relative;
  left: -50%;
}

// # Display
.hide { display: none !important; }
