@import 'compass/css3';

@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

$master-color: rgba(128, 125, 75, 0.8);

@import 'import/global';

@import 'import/music';

@import 'import/skeleton';

@import 'import/pages';

@import 'import/skins';
