.page-listen {
  @include clearfix;

  .album {
    float: left;
    position: relative;
  }
  .album-flap {
    padding: 10px;
    float: left;
    width: 170px;
    background: rgba(0, 0, 0, 0.8);
    color: #fafafa;
  }
  .album-flap-left {
    @include border-left-radius(5px);
  }
  .album-flap-right {
    @include border-right-radius(5px);
  }
  .album-cover {
    position: relative;
    float: left;
    width: 450px;
    @include box-shadow(rgba(0, 0, 0, 0.6) 0 0 9px 2px);
  }

  .album-tracks {
    background: rgba(0,0,0,0.2);
    margin: 0;
  }
  .album-track {
    padding: 4px;
    list-style: none;
    position: relative;
    font-style: italic;
    cursor: pointer;
  }
  .album-track:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
