<!DOCTYPE html>
<html>
<head>
  <title>Amplifyre</title>
  <%= stylesheet_link_tag    'dashboard/index', :media => 'all' %>
  <%= javascript_include_tag 'dashboard/index' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
