<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' ''http'://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>

<html xmlns=''http'://www.w3.org/1999/xhtml' 'xml':lang='en' lang='en'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  
  <!-- og/fb tags -->
  <meta property='og:type' content='website' />
  <meta property='og:url' content=''http'://bringtheloot.com' />
  <meta property='og:image' content='/assets/images/backgrounds/6-1317341185-color.jpg' />
  <meta property='og:site_name' content='The Loot' />
  <meta property='og:title' content='The Loot' />
  <meta property='fb:admins' content='831670161' />
  <!-- end og/fb tags -->
  
  <!-- meta tags -->
  <meta name='title' content='The Loot' />
  <meta name='description' content='pumpin sweet beats' />
  <link rel='image_src' href='/assets/images/backgrounds/6-1317341185-color.jpg' />
  <!-- end meta tags -->
  
  <title>The Loot</title>
  
  <link rel='shortcut icon' href='/assets/favicon/10.png'>
  
  <script id='bootstrap' type='text/json'>
  {
    "band_site": {
      "id": 1,
      "name": "The Loot",
      "tagline": "pumpin sweet beats",
      "desat": "6-1317341185-bw.jpg",
      "sat": "6-1317341185-color.jpg"
    },
    "socials": [{
      "id": 1,
      "type": "facebook",
      "link": "http://facebook.com/thelootnyc"
    }],
    "albums": [{
      "id": 1,
      "title": "Episodes",
      "cover": "6-1313881677.jpg",
      "tracks": [{
        "id": 1
      },
      {
        "id": 2
      }]
    }],
    "tracks": [{
      "id": 1,
      "file": "6-1313946157",
      "title": "The Gift Be",
      "artist": "The Loot"
    },
    {
      "id": 2,
      "file": "6-1313946195",
      "title": "Come Clean",
      "artist": "The Loot"
    }],
    "photos": [{
      "id": 1,
      "filename": "6-1315856282.jpg"
    },
    {
      "id": 2,
      "filename": "6-1315856283.jpg"
    },
    {
      "id": 3,
      "filename": "6-1315856284.jpg"
    },
    {
      "id": 4,
      "filename": "6-1315856285.jpg"
    }],
    "posts": [{
      "id": 1,
      "date": "07.08.2012",
      "title": "Thanks for coming out. We had a great time!",
      "body": "Sullivan Hall was bumping Saturday night. Much love to Carlton &quot;Fred Hampton&quot; Tarantino for coming out from DC for the show and thank you all for coming to see us. For those who couldn't make it, you missed out, but we've got recordings. Stay tuned."
    },
    {
      "id": 2,
      "date": "07.02.2012",
      "title": "Episodes EP",
      "body": "<div style='text-align:center;'>Download the Episodes EP Now!<br /><a href='http://bringtheloot.com/download/Episodes%20EP.zip'><img src='http://i.imgur.com/ECEuu.jpg' /></a></div>"
    }],
    "concerts": [{
      "id": 1,
      "date": "04.19.2012",
      "time": "9 pm, FREE",
      "venue": "CultureFix",
      "details": "Sexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.com",
      "photo": "189-1329107550.jpg"
    }],
    "pages": [{
      "id": 1,
      "order": 3,
      "type": "custom",
      "slug": "about",
      "title": "About",
      "body": "Sexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.comSexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.comSexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.comSexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.comSexy folk music on the Lower East Side.<br /> Featuring:<br /><br />Raveena Aurora<br />Minnie and Aya<br />Steady Sun<br />Eric Ching<br /><br />Culture Fix<br />9 Clinton Street<br />New York, NY 10002<br />(646) 863-7171<br />culturefixny.com"
    },
    {
      "id": 2,
      "order": 4,
      "type": "photos",
      "slug": "photos",
      "title": "Photos"
    },
    {
      "id": 3,
      "order": 5,
      "type": "listen",
      "slug": "listen",
      "title": "Listen"
    },
    {
      "id": 4,
      "order": 7,
      "type": "contact",
      "slug": "contact",
      "title": "Contact"
    },
    {
      "id": 5,
      "order": 2,
      "type": "news",
      "slug": "news",
      "title": "News"
    },
    {
      "id": 6,
      "order": 6,
      "type": "tour",
      "slug": "tour",
      "title": "Tour"
    }]
  }
  </script>

  <% if @version == 'normal' %>
  <%= stylesheet_link_tag    'themes/press-play', :media => 'all' %>
  <% elsif @version == 'editor' %>
  <%= stylesheet_link_tag    'themes/press-play/editor', :media => 'all' %>
  <% end %>

  <script type='text/javascript' src='/assets/require.js'></script>
  <script type='text/javascript' src='/assets/themes/press-play/config.js'></script>
  <script type='text/javascript'>
    require.config({
      urlArgs: '_=' + (+new Date),
      baseUrl: '/assets/themes/press-play'
    });
    <% if @version == 'normal' %>
    require(['main']);
    <% elsif @version == 'editor' %>
    require(['editor/main']);
    <% end %>
  </script>
  <!-- end application init -->
  
</head>

<body>

</body>
</html>