@import 'compass/css3';
@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

//
// Sortable
//
.sortable,
.sortable li a, {
  cursor: move;
}
.sortable-exclude {
  cursor: default;
}
.progress-inner {
  background-color: #06bcff;
}

//
// Bootstrap stuff
//
.remove {
  cursor: pointer;
  width: 14px;
  height: 17px;
  padding: 1px 4px 4px 4px;
  @include border-radius(10px);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.well-editor {
  @include clearfix;
  margin-bottom: 0;
  background-color: rgba(245, 245, 245, 0.4);
  border-color: #999;
}
.fat-container {
  .well-editor {
    position: absolute;
    top: 0;
    left: 20px;
    width: 250px;
  }
}

//
// Editable
//

.editable {
  outline: none;
}
.editable-default {
  color: #999;
  font-style: italic;
}
.editable-active {
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px 0);
  outline: 1px solid rgba(100, 100, 100, 0.3);
}
textarea.editable-hover {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}
[contenteditable].editable-hover,
.editable-hover {
  outline: 1px dashed rgba(100, 100, 100, 0.5);
}

//
// Redactor styles
//

.redactor_box {
  border: none;
  margin-top: -38px;
}
.redactor_box, .redactor_box textarea {
  background-color: transparent;
}
.redactor_editor, .redactor_editor:focus {
  padding: 5px 0 0 0 !important;
  background-color: transparent !important;
}
.scrollpane > .editable > .redactor_box {
  margin-top: 0;
}

//
// Section-specific UI
//

.page-photos li,
.page-listen li,
.page-listen .album {
  position: relative;

  .remove {
    position: absolute;
    top: -7px;
    right: -7px;
  }
}

.album-create {
  position: relative;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  background-color: #e7f9ff;
  border: 4px solid #000;
  text-align: center;
  font-size: 72px;
  color: #4C4C4C;
  &:hover {
    border-color: #06bcff;
  }
}
input[type='file'].album-upload {
  display: block;
  cursor: pointer;
  position: absolute;
  top: -8px;
  left: -8px;
  @include opacity(0);
  width: 158px;
  height: 158px;
  margin: 0;
  padding: 0;
}
