@import "compass/css3";

.delete {
  cursor: pointer;
  &:hover, &.edit-mode:hover { background-color: #e00000; }
}
.sortable {
  cursor: move;
}
.sortable-exclude {
  cursor: default;
}
.progress-inner {
  background-color: #06bcff;
}

//
// Editable
//

.edit-mode {
  padding: 4px;
  border: 1px solid #919191;
  background-color: #e7f9ff;
  @include box-shadow(rgba(0,0,0,0.3) 0 0 4px inset);
}
.editable {
  outline: none;
}
.editable-default {
  color: #999;
  font-style: italic;
}
.editable-active {
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px 0);
  outline: 1px solid rgba(100, 100, 100, 0.3);
}
textarea.editable-hover {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}
[contenteditable].editable-hover,
.editable-hover {
  outline: 1px dashed rgba(100, 100, 100, 0.5);
}

//
// Redactor styles
//

.redactor_box {
  border: none;
  margin-top: -38px;
}
.redactor_box, .redactor_box textarea {
  background-color: transparent;
}
.redactor_editor, .redactor_editor:focus {
  padding: 5px 0 0 0 !important;
  background-color: transparent !important;
}

//
// Section-specific UI
//

.pp-top-bar {
  .dropdown {
    width: 60px;
    text-align: center;
  }
  .dropdown-content {
    margin-top: 2px;
  }
  .black-bar {
    width: 60px;
    padding: 10px;
  }
}

.page-photos li,
.page-listen li,
.album-cover {
  position: relative;

  .delete {
    font-size: 12px;
    line-height: normal;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2px;
    width: 16px;
    height: 14px;
    text-align: center;
  }
}

.album-create {
  position: relative;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  background-color: #e7f9ff;
  border: 4px solid #000;
  text-align: center;
  font-size: 72px;
  color: #4C4C4C;
  &:hover {
    border-color: #06bcff;
  }
}
.album-upload {
  cursor: pointer;
  position: absolute;
  top: -8px;
  left: -8px;
  @include opacity(0);
  width: 158px;
  height: 158px;
  margin: 0;
  padding: 0;
}
